@using WebBanDienThoatBTL.Models;
@model List<DienThoai>

@{
    ViewBag.Title = "DTTheoNSX";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<h1>@ViewBag.DienThoai</h1>
<div id="divBody">
    @{ int i = 0;}
    @foreach (var item in Model)
    {
        i++;
        <div id="SanPham">
            <a href="@Url.Action("XemChiTiet","DienThoai", new {@MaDT = item.MaDT})">
                <div id="AnhMoTa"><img src="@Url.Content("~/HinhAnhSP/"+item.AnhBia)" width="200" height="200" /></div>
            </a>
            <div id="ThongTin">
                <div id="TenDT" title="@item.TenDT"> @item.TenDT</div>
                <br />
                <div id="DonGia" style="color:orange"><font color="Green">Giá bán:</font>@String.Format("{0:0,0}", item.GiaBan) VNĐ</div>
            </div>
            <div id="GioHang">
                @using (Html.BeginForm("ThemGioHang", "GioHang", new { @iMaDT = item.MaDT, @strURL = Request.Url.ToString() }))
                {
                    <input type="submit" style="cursor:pointer" value="Mua Hàng" id="btnGioHang" class="btn btn-primary" />
                }
            </div>
        </div>

        if (i % 6 == 0)
        {
            <div style="clear:both"></div>
        }
    }
</div>
<div style="clear:both"></div>

